.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App-clock {
  font-size: 3vw;
  color: rgb(50, 50, 224);
  text-shadow: .3px .3px rgb(28, 23, 51);
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}